.DS_Store
.claude/
node_modules/
sketch
SketchProduction:producerthoughts.docx
assets/website video/1. SKETCH - DIRECTORS STATEMENT.mp4
assets/website video/4. (Bonus) Colton Tran -Directors Reel.mp4
